<menu-comp></menu-comp>
<h1> SUE ANN PREWITT</h1>
<p>
 I am a happily married mother of four.  I have a 1 year old granddaughter named Ava Grace.  I am a Youth Group Leader at my church along with my husband.  I enjoy spending time with my family, traveling, and taking our Youth Group on adventures. 
 </p>
 <p>
 I have worked in the legal field my entire career as a legal assistant.  I have reached a point in my life that I am ready for a change in my career, a complete change! I need a challenge... and boy, have I found one!!! I'm excited at what the future holds.  I'm thankful for the opportunities that I have and am prepared to make the best of them.  I'm dedicated to being the best I can be at whatever role I land in. 
</p>
