<menu-comp></menu-comp>
<div>

	<div>
		<span class="PageTitle">Purchase Request Line Item List</span>
		<span class="CreateNew" *ngIf="purchaseRequestAndLines"><a routerLink="/purchaserequestlineitems/add/{{purchaseRequestAndLines.PurchaseRequest.ID}}">Add New</a></span>
	</div>

	<table class="table" *ngIf="purchaseRequestAndLines">
	<tr>
		<th>Description</th>
		<th>Status</th>
		<th>Total</th>
	</tr>
	<tr>
		<td>{{purchaseRequestAndLines.PurchaseRequest.Description}}</td>
		<td>{{purchaseRequestAndLines.PurchaseRequest.Status}}</td>
		<td>{{purchaseRequestAndLines.PurchaseRequest.Total  | currency:'USD':true}}</td>
	</tr>

<tr>
		<th>Product Name</th>
		<th>Quantity</th>
		<th>Product Price</th>
		<th>Subtotal</th>
		<th>Actions</th>
	</tr>
	<tr *ngFor="let purchaserequestlineitem of purchaseRequestAndLines.PurchaseRequestLineItems">
		<td>{{purchaserequestlineitem.Product.Name}}</td>
		<td>{{purchaserequestlineitem.Quantity}}</td>
		<td>{{purchaserequestlineitem.Product.Price}}</td>
		<td>{{purchaserequestlineitem.Quantity * purchaserequestlineitem.Product.Price  | currency:'USD':true}}</td>
				
		<td>
			<a routerLink="/purchaserequests/detail/{{purchaserequestlineitem.ID}}">Detail</a>
			<a routerLink="/purchaserequests/edit/{{purchaserequestlineitem.ID}}">Edit</a>

		</td>
	</tr>





	</table>

</div>


