<menu-comp></menu-comp>

<div class="form-horizontal" style="margin: 20px;"> 

	<div><span class="PageTitle">Product Add</span></div>
	<div style="text-align: center;">
	<form *ngIf="product" style="display: inline-block; width: 50%; padding: 30px 30px 0 0;border: 1px solid silver;">  

	<div class='form-group'>
	<label class='col-md-3 control-label' for="product-vendorpartnumber">Vendor Part Number</label>
	<div class='col-md-9'>
		<input class='form-control' name='VendorPartNumber' type= 'text' id='product-vendorpartnumber' 
		[(ngModel)]='product.VendorPartNumber' placeholder="Vendor Part Number">
	</div>
	</div>

	<div class='form-group'>
	<label class='col-md-3 control-label' for="product-name">Name</label>
	<div class='col-md-9'>
		<input class='form-control' name='Name' type= 'text' id='product-name' 
		[(ngModel)]='product.Name' placeholder="Name">
	</div>
	</div>

	<div class='form-group'>
	<label class='col-md-3 control-label' for="product-price">Price</label>
	<div class='col-md-9'>
		<input class='form-control' name='Price' type= 'text' id='product-price' 
		[(ngModel)]='product.Price' placeholder="Price">
	</div>
	</div>

	<div class='form-group'>
	<label class='col-md-3 control-label' for="product-unit">Unit</label>
	<div class='col-md-9'>
		<input class='form-control' name='Unit' type= 'text' id='product-unit' 
		[(ngModel)]='product.Unit' placeholder="Unit">
	</div>
	</div>

	<div class='form-group'>
	<label class='col-md-3 control-label' for="product-photopath">PhotoPath</label>
	<div class='col-md-9'>
		<input class='form-control' name='PhotoPath' type= 'text' id='product-photopath' 
		[(ngModel)]='product.PhotoPath' placeholder="PhotoPath">
	</div>
	</div>

	<div class='form-group'>
	<label class='col-md-3 control-label' for="product-vendorid">Vendor Id</label>
	<div class='col-md-9'>
		<select [(ngModel)]="product.VendorId" name='VendorId' class='form-control'>
			<option *ngFor="let vendor of vendors" [ngValue]="vendor.Id">{{vendor.Name}}</option>
	
		</select>
	</div>
	</div>

	<div class='form-group'>
		<button (click)='add()' id='add' class='col-md-aa col-md-offset-1 btn btn-primary'>Add</button>
		</div>

	<div class='form-group'>
		<label class='col-md-10 col-md-offset-1 text-left'>{{message}}&nbsp;</label>

	</div>
	</form>
	</div>
	</div>
	