<menu-comp></menu-comp>
<h1> WELCOME TO PURCHASE REQUEST SYSTEM</h1>
<p>
  This website is designed for in-house staff/users of a company to use to order needed supplies.  The types of users are admins, users, and reviewers.  Certain staff can be an admin and/or a reviewer which gives them special privileges within the website.  
</p>
<p>
  The website lists the users, vendors, products, and purchase requests. Requests are made creating a new purchase request.  New requests are set for review.  Once reviewed, they are approved or rejected.  Purchase requests that are $50.00 or less are automatically approved by the system.