<menu-comp></menu-comp>
<div>

	<div>
		<span class="PageTitle">User List</span>
		<span class="CreateNew"><a routerLink="/users/add">Add New</a></span>
	</div>

	<table class="table" *ngIf="user">
	
		<tr><th> Name</th><td>{{user.FirstName}} {{user.LastName}}</td></tr>
		<tr><th> User Name</th><td>{{user.UserName}}</td></tr>
		<tr><th> Phone</th><td>{{user.Phone}}</td></tr>
		<tr><th> Email</th><td>{{user.Email}}</td></tr>
		<tr><th> IsReviewer</th><td>{{user.IsReviewer}}</td></tr>
		<tr><th> IsAdmin</th><td>{{user.Admin}}</td></tr>
		
	</table>

</div>

